body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

header, footer {
    background-color: #1F2937;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inner-header {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.header-links li {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

.main-1 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.container-1 p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.inner-1 {
    width: 70%;
    display: flex;
}

.container-1, .inner-1 img {
    width:50%;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.main-2 {
    background-color: #E5E7EB;
}

.empty {
    border: 5px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

h2 {
    color: #1F2937;
}

.main-3 {
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.main-4 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-4 {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    align-items: center;
}


footer {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}