html {
    background-color: black;
}

body {
    width: 70%;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links li {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

.main-1 {
    background-color: #1F2937;
}

.main-1 button {
    background-color: #3882F6;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.main-2 {
    background-color: #E5E7EB;
}

.empty {
    border: 5px solid #3882F6;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

h2 {
    color: #1F2937;
}

.main-3 {
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.main-4 {
    background-color: #E5E7EB;
}

.container-4 {
    background-color: #3882F6;
    color: #F9FAF8;
}

footer {
    color: #E5E7EB;
}